# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log

# =========================
# Angular / Ionic
# =========================
dist/
www/
build/
.tmp/
.angular/
.angular/cache
out-tsc/
coverage/

# Ionic
.ionic/

# Capacitor
android/
ios/
capacitor.config.ts
capacitor.config.json

# Cordova (si aplica)
platforms/
plugins/

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# Angular environment files (si usás configs sensibles)
src/environments/environment.prod.ts

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests
# =========================
coverage/

# =========================
# Misc
# =========================
*.tsbuildinfo
